---
title: Welcome to Middleman
---

<!--

FBAPPID = 418204101672511

FBLINK = http://

picture link = http://

caption = blah blah blah

description = blah blah blah

Twitter Message = ''

twitter @ = ''

twitter # = ''

FORMACTION = https://docs.google.com/a/trendsettermarketing.net/forms/d/1wlf_SJrVnipkE3z3qoee7byV8ggvQ67Ay2p4Jncyx7w/formResponse

FIRST NAME ID = 749925490

LAST NAME ID = 453795809

EMAIL ID = 1493557255

FACEBOOK CHECK ID = 701792494

TWITTER CHECK ID = 1730686214

THANK YOU MESSAGE = blah blah blah

rules URL
-->


<!-- CSS -->
<style>
  #contest-wrapper{
    max-width: 200px;
    margin: 0 auto;
  }
  .hider{
    display:none;
  }
  .btn-wrap{
    text-align: center;
    cursor: pointer;
  }
  .btn-wrap p{
    margin: 5px auto;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,.7);
  }
  .btn-wrap a{
    text-decoration: none;
  }
  .btn-wrap:hover, .btn-wrap:active{
    opacity:.5;
    color: #fff;
  }
  .fbbtn{
    background-image: url(images/FB-f-Logo__blue_50.png);
  }
  .twbtn{
    background-image: url(images/tw-btn.png);
  }
  .fbbtn, .twbtn{
    margin: 0 auto;
    color: white;
    border-radius: 4px;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 2px rgba(0,0,0,.7);
  }
  #shares{
    width: 84%;
    margin: 0px auto;
    padding: 0 8%;
  }
  .left{
    width: 50%;
    float: left;
  }
  .right{
    margin-left: 50%;
  }
  #legal{
    margin-top: 5px;
    text-align: left;
  }
  .contest-btn{
    width: 100% !important;
    padding: 10px 20px !important;
    background-color: #3c8ecc;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #3c9ce4;
    box-shadow: 1px 1px 2px rgba(0,0,0,.7);
    text-shadow: 0px 0px 5px rgba(0,0,0,.8);
    font-size: 14px;
    max-width: 98px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;
  }
  .sharehead, .thanks{
    color: white;
    text-shadow: 0px 0px 5px rgba(0,0,0,.8);
  }
  small{
    margin-top: 20px;
    font-size: 12px;
  }
  .form-error{
    font-size: 12px;
    color: red;
  }
  .check-wrap{
    margin: 5px auto;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,.7);
  }
  .checkmark{
    width: 50px;
    background-color: white;
    border-radius: 4px;
  }
  /* gform-tweaks */
  .ss-q-checkbox{
    width: auto !important;
  }
  .ss-form input{
    width: 84%;
    max-width: 1170px;
    border-radius: 4px;
    padding: 5px 8%;
    margin-bottom: 6px;
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
  }
  .ss-choices{
    padding: 0;
    font-size: 12px;
  }
  .ss-choice-item{
    list-style: none;
    margin-bottom: 5px;
  }
  #navigation-table{
    margin: 0 auto;
  }
  #navigation-buttons{
    width: 142px;
  }
</style>


<!-- Next Button -->
<script>
$(function(){

  $('.next').on('click', function(){

    var eMail = $('.email-address').val();
    var atpos = eMail.indexOf("@");
    var dotpos = eMail.lastIndexOf(".");

    if($('.first-name').val().length < 1){
      $('.form-error').html('Please enter your first name.');
    }
    else if($('.last-name').val().length < 1){
      $('.form-error').html('Please enter your last name.');
    }
    else if(atpos< 1 || dotpos<atpos+2 || dotpos+2>=eMail.length){
      $('.form-error').html('Please enter a valid email address.');
    }
    else if(!$('.rules').prop('checked')){
      $('.form-error').html('Please agree to the rules.');
    }
    else{
      $('#shares').removeClass('hider');
      $('.goog-inline-block').removeClass('hider');
      $('#first-section').addClass('hider');
      $('.form-error').html('');
    }
  });
});
</script>

<!-- validate shares -->
<script>
function validateShare(){
  if (shareCount < 2){
    $('.form-error').html('Please complete both shares.');
    return false;
  }
  else{
    submitted = true;
  }

}
</script>


<!-- FACEBOOK SHIT -->
<!-- Share function -->

<script>
function fbShare(){
  FB.ui(
  {
    method: 'feed',
    name: 'Facebook Dialogs',
    link: 'https://developers.facebook.com/docs/dialogs/',
    picture: 'http://fbrell.com/f8.jpg',
    caption: 'Reference Documentation',
    description: 'Dialogs provide a simple, consistent interface for applications to interface with users.'
  },
  function(response) {
    if (response && response.post_id) {
      // successful Share
      $('.fb-check').prop('checked', true);
      $('.fbclick').hide();
      $('.right').css({'width':'100%','margin-left':'0'});
      $('.form-error').html('');
      shareCount = shareCount + 1
      if (shareCount == 2){
        $('.check-wrap').removeClass('hider');
      }
    } else {
      // unsuccessful share
      $('.fb-check').prop('checked', false);
    }
  }
  );
}
</script>


<!-- click event -->
<script>
$(function(){
  $('.fbclick').on('click', function(){
    fbShare();
  });
});
</script>


<!-- Facebook API hook -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '418204101672511',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- TWITTER SHIT  -->

<!-- Callback -->
<script>
$.getScript("http://platform.twitter.com/widgets.js", function(){
   function handleTweetEvent(event){
     if (event) {
        $('.tw-check').prop('checked', true);
        $('.right').hide();
        $('.left').css({'width':'100%'});
        $('.form-error').html('');
        shareCount = shareCount + 1
        if (shareCount == 2){
          $('.check-wrap').removeClass('hider');
        }
     }
   }
   twttr.events.bind('tweet', handleTweetEvent);
 });
 </script>

<!-- GOOGLE SHIT -->
<!-- Form -->
<script type="text/javascript">var submitted=false; var shareCount=0;</script>
<div id="fb-root"></div>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {$('.ss-form').html('<h2 class=\'thanks\'>Thanks for entering!</h2>');}"></iframe>
<div id="contest-wrapper">
  <p class="form-error"><p>
  <div class="ss-form">
    <form action="https://docs.google.com/a/trendsettermarketing.net/forms/d/1wlf_SJrVnipkE3z3qoee7byV8ggvQ67Ay2p4Jncyx7w/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="validateShare();">
      <ol role="list" class="ss-question-list" style="padding-left: 0">
        <section id="first-section">
          <!-- FIRST ITEM OPEN -->
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
              <div class="ss-form-entry">
                <input type="text" name="entry.749925490" value="" class="ss-q-short first-name" id="entry_749925490" dir="auto" aria-label="Input 1  " title="" placeholder="First Name">
              </div>
            </div>
          </div>
          <!-- FIRST ITEM CLOSE -->
          <!-- SECOND ITEM OPEN -->
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
              <div class="ss-form-entry">
                <input type="text" name="entry.453795809" value="" class="ss-q-short last-name" id="entry_453795809" dir="auto" aria-label="Input 2  " title="" placeholder="Last Name">
              </div>
            </div>
          </div>
          <!-- SECOND ITEM CLOSE -->
          <!-- THIRD ITEM OPEN -->
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
              <div class="ss-form-entry">
                <input type="text" name="entry.1493557255" value="" class="ss-q-short email-address" id="entry_1493557255" dir="auto" aria-label="Input 3  " title="" placeholder="Email Address">
              </div>
            </div>
          </div>
          <!-- THIRD ITEM CLOSE -->
          <section id="legal">
            <!-- Opt In -->
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-checkbox">
                <div class="ss-form-entry">
                  <ul class="ss-choices" role="group" aria-label="Opt In  ">
                    <li class="ss-choice-item">
                      <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="checkbox" name="entry.583147646" value="I agree to receive emails" id="group_583147646_1" role="checkbox" class="ss-q-checkbox" checked="true">
                        </span>
                        <span class="ss-choice-label">I agree to receive emails from this record label yo.</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Opt In -->
            <!-- Rules -->
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-checkbox">
                <div class="ss-form-entry">
                  <ul class="ss-choices" role="group" aria-label="Agree to Rules  ">
                    <li class="ss-choice-item">
                      <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="checkbox" name="entry.1082888376" value="I agree to the rules" id="group_1082888376_1" role="checkbox" class="ss-q-checkbox rules">
                        </span>
                        <span class="ss-choice-label">I agree to the <a href="#">rules</a>.</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Rules -->
          </section>
          <div class="contest-btn next">
            NEXT →
          </div>
        </section>
        <section id="shares" class="hider">
          <h4 class="sharehead">Share this page to complete your entry</h4>
          <!-- FACEBOOK SHARE -->
          <!-- button  -->
          <div class="btn-wrap fbclick left">
            <div class="btn btn-facebook fbbtn">
              <i class="fa fa-facebook"></i>
            </div>
            <p>Share</p>
          </div>
          <!-- end button -->
          <div class="ss-form-question errorbox-good hider" role="listitem">
            <div dir="ltr" class="ss-item  ss-checkbox">
              <div class="ss-form-entry">
                <ul class="ss-choices" role="group" aria-label="Facebook Share  ">
                  <li class="ss-choice-item">
                    <label>
                      <span class="ss-choice-item-control goog-inline-block">
                        <input type="checkbox" name="entry.701792494" value="True" id="group_701792494_1" role="checkbox" class="ss-q-checkbox fb-check">
                      </span>
                      <span class="ss-choice-label">True</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- END FACEBOOK SHARE -->
          <!-- Twitter SHARE -->
          <!-- button  -->
          <div class="btn-wrap right">
            <a href="https://twitter.com/intent/tweet?text=This%20is%20a%20test%20message%20from%20@tsm_mark%20at;url=http://linktest.com;hashtags=hastag;" title="Share on Twitter" target="_blank" class="btn btn-twitter">
              <div class="twbtn">
              </div>
              <p>Tweet</p>
            </a>
          </div>
          <!-- end button -->
          <div class="ss-form-question errorbox-good hider" role="listitem">
            <div dir="ltr" class="ss-item  ss-checkbox">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1030731654">
                  <div class="ss-q-title">Twitter Share</div>
                </label>
                <ul class="ss-choices" role="group" aria-label="Twitter Share  ">
                  <li class="ss-choice-item">
                    <label>
                      <span class="ss-choice-item-control goog-inline-block">
                        <input type="checkbox" name="entry.1730686214" value="True" id="group_1730686214_1" role="checkbox" class="ss-q-checkbox tw-check">
                      </span>
                      <span class="ss-choice-label">True</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- END twitter SHARE -->
          <!-- Checkmark -->
          <div class="check-wrap hider">
            <img class="checkmark" src="/images/check-mark.png">
            <p>You may now submit your entry.</p>
          </div>
          <!-- end Checkmark -->
          </br>
          <small>*Entries will not count unless both shares are completed.</small>
        </section>
        <input type="hidden" name="draftResponse" value="[,,&quot;4687543796847312923&quot;]">
        <input type="hidden" name="pageHistory" value="0">
        <input type="hidden" name="fbzx" value="4687543796847312923">
        <div class="ss-item ss-navigate">
          <table id="navigation-table">
            <tbody>
              <tr>
                <td class="ss-form-entry goog-inline-block hider" id="navigation-buttons" dir="ltr">
                  <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action contest-btn">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ol>
    </form>
  </div>
</div>
