<script type="text/javascript">
  var submitted=false;
  var shareCount=0;
</script>
<div id="fb-root"></div>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {$('.ss-form').html('<h2 class=\'thanks\'>Thanks for entering!</h2>');}"></iframe>
<div id="contest-wrapper">
  <p class="form-error"><p>
  <div class="ss-form">
    <form action="https://docs.google.com/a/trendsettermarketing.net/forms/d/1wlf_SJrVnipkE3z3qoee7byV8ggvQ67Ay2p4Jncyx7w/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="validateShare();">
      <ol role="list" class="ss-question-list" style="padding-left: 0">
        <section id="first-section">
          <!-- FIRST ITEM OPEN -->
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
              <div class="ss-form-entry">
                <input type="text" name="entry.749925490" value="" class="ss-q-short first-name" id="entry_749925490" dir="auto" aria-label="Input 1  " title="" placeholder="First Name">
              </div>
            </div>
          </div>
          <!-- FIRST ITEM CLOSE -->
          <!-- SECOND ITEM OPEN -->
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
              <div class="ss-form-entry">
                <input type="text" name="entry.453795809" value="" class="ss-q-short last-name" id="entry_453795809" dir="auto" aria-label="Input 2  " title="" placeholder="Last Name">
              </div>
            </div>
          </div>
          <!-- SECOND ITEM CLOSE -->
          <!-- THIRD ITEM OPEN -->
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="ltr" class="ss-item  ss-text">
              <div class="ss-form-entry">
                <input type="text" name="entry.1493557255" value="" class="ss-q-short email-address" id="entry_1493557255" dir="auto" aria-label="Input 3  " title="" placeholder="Email Address">
              </div>
            </div>
          </div>
          <!-- THIRD ITEM CLOSE -->
          <section id="legal">
            <!-- Opt In -->
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-checkbox">
                <div class="ss-form-entry">
                  <ul class="ss-choices" role="group" aria-label="Opt In  ">
                    <li class="ss-choice-item">
                      <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="checkbox" name="entry.583147646" value="I agree to receive emails" id="group_583147646_1" role="checkbox" class="ss-q-checkbox" checked="true">
                        </span>
                        <span class="ss-choice-label">I agree to receive emails from this record label yo.</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Opt In -->
            <!-- Rules -->
            <div class="ss-form-question errorbox-good" role="listitem">
              <div dir="ltr" class="ss-item  ss-checkbox">
                <div class="ss-form-entry">
                  <ul class="ss-choices" role="group" aria-label="Agree to Rules  ">
                    <li class="ss-choice-item">
                      <label>
                        <span class="ss-choice-item-control goog-inline-block">
                          <input type="checkbox" name="entry.1082888376" value="I agree to the rules" id="group_1082888376_1" role="checkbox" class="ss-q-checkbox rules">
                        </span>
                        <span class="ss-choice-label">I agree to the <a href="#">rules</a>.</span>
                      </label>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- End Rules -->
          </section>
          <div class="contest-btn next">
            NEXT →
          </div>
        </section>
        <section id="shares" class="hider">
          <h4 class="sharehead">Share this page to complete your entry</h4>
          <!-- FACEBOOK SHARE -->
          <!-- button  -->
          <div class="btn-wrap fbclick left">
            <div class="btn btn-facebook fbbtn">
              <i class="fa fa-facebook"></i>
            </div>
            <p>Share</p>
          </div>
          <!-- end button -->
          <div class="ss-form-question errorbox-good hider" role="listitem">
            <div dir="ltr" class="ss-item  ss-checkbox">
              <div class="ss-form-entry">
                <ul class="ss-choices" role="group" aria-label="Facebook Share  ">
                  <li class="ss-choice-item">
                    <label>
                      <span class="ss-choice-item-control goog-inline-block">
                        <input type="checkbox" name="entry.701792494" value="True" id="group_701792494_1" role="checkbox" class="ss-q-checkbox fb-check">
                      </span>
                      <span class="ss-choice-label">True</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- END FACEBOOK SHARE -->
          <!-- Twitter SHARE -->
          <!-- button  -->
          <div class="btn-wrap right">
            <a href="https://twitter.com/intent/tweet?text=This%20is%20a%20test%20message%20from%20@tsm_mark%20at;url=http://linktest.com;hashtags=hastag;" title="Share on Twitter" target="_blank" class="btn btn-twitter">
              <div class="twbtn">
              </div>
              <p>Tweet</p>
            </a>
          </div>
          <!-- end button -->
          <div class="ss-form-question errorbox-good hider" role="listitem">
            <div dir="ltr" class="ss-item  ss-checkbox">
              <div class="ss-form-entry">
                <label class="ss-q-item-label" for="entry_1030731654">
                  <div class="ss-q-title">Twitter Share</div>
                </label>
                <ul class="ss-choices" role="group" aria-label="Twitter Share  ">
                  <li class="ss-choice-item">
                    <label>
                      <span class="ss-choice-item-control goog-inline-block">
                        <input type="checkbox" name="entry.1730686214" value="True" id="group_1730686214_1" role="checkbox" class="ss-q-checkbox tw-check">
                      </span>
                      <span class="ss-choice-label">True</span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- END twitter SHARE -->
          <!-- Checkmark -->
          <div class="check-wrap hider">
            <img class="checkmark" src="/images/check-mark.png">
            <p>You may now submit your entry.</p>
          </div>
          <!-- end Checkmark -->
          </br>
          <small>*Entries will not count unless both shares are completed.</small>
        </section>
        <input type="hidden" name="draftResponse" value="[,,&quot;4687543796847312923&quot;]">
        <input type="hidden" name="pageHistory" value="0">
        <input type="hidden" name="fbzx" value="4687543796847312923">
        <div class="ss-item ss-navigate">
          <table id="navigation-table">
            <tbody>
              <tr>
                <td class="ss-form-entry goog-inline-block hider" id="navigation-buttons" dir="ltr">
                  <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action contest-btn">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ol>
    </form>
  </div>
</div>
